---
import Card from "../components/Card.astro";
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-full lg:py-16">
    <div
      class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8 text-center"
    >
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2"
      >
        <span class="text-6xl text-blue-500"> 66 Años</span> al servicio de su industria.
      </h1>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
        Ofrecemos una amplia gama de productos y servicios de primera calidad.
      </p>
    </div>

    <div class="grid md:grid-cols-2 gap-8">
      <Card />
    </div>
  </div>
</section>
